<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <!--<div class="executive-summary">
          <p>This is the executive summary. You should write a few brief, concise, and meaningful sentences about yourself from a professional context, and your immediate career goals. Make the length appropriate for your needs, but K.I.S.S.</p>
        </div>-->

        <!--{% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}-->
        <a href="documents/{{ site.resume_file }}" class="contact-button">Resume</a>

      </header>

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Languages</h4>
          <p class="resume-item-copy">C/C++, C#, HTML/CSS, Java, Javascript, SQL</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Libraries</h4>
          <p class="resume-item-copy">AngularJS, IONIC, NodeJS, OpenCV, OpenGL, WebGL</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Databases</h4>
          <p class="resume-item-copy">MongoDB</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Analysis</h4>
          <p class="resume-item-copy">UML, Design Patterns</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Software</h4>
          <p class="resume-item-copy">Eclipse, Visual Studio, WebStorm, Sublime Text, Git, Unity 3D</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">O.S.</h4>
          <p class="resume-item-copy">Linux, Mac OS X, Windows</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Adneom -->
        <div class="resume-item">
          <h3 class="resume-item-title">Adneom</h3>
          <h4 class="resume-item-details">Full Stack Developer &bull; October 2015 &mdash; Present</h4>
          <p class="resume-item-copy">
              Web application for Thalys to manage the incoming reports about equipment issues in the trains.
              <ul class="resume-item-list">
                <li>Technical leader in a team of 3 developers.</li>
                <li>Real-time update and high priority notifications with Server Sent Events.</li>
                <li>Setup production server with Docker.</li>
              </ul>
          </p>

        </div><!-- end of resume-item -->
        
        <!-- Howaboutsales -->
        <div class="resume-item">
          <h3 class="resume-item-title">Howaboutsales</h3>
          <h4 class="resume-item-details">Software Tester &bull; October 2015 &mdash; December 2015</h4>
          <p class="resume-item-copy">Testing, code review and support for <a href="http://www.howaboutsales.com/" target="_blank">Howaboutsales</a>, a cloud solution (SaaS) for indirect sales channel management. They automate sales and marketing processes through the entire partner and customer journey.</p>

        </div><!-- end of resume-item -->

        <!-- Adneom -->
        <div class="resume-item">
          <h3 class="resume-item-title">Adneom</h3>
          <h4 class="resume-item-details">Mobile Developer &bull; June 2015 &mdash; September 2015</h4>
          <p class="resume-item-copy">
            Risers, a mobile application on Android and iOS for a new social network.
            <ul class="resume-item-list">
              <li>Technical leader in a team of 3 to 7 developers.</li>
              <li>Worked on several features like audio, notifications, profile, top users, statistics and settings.</li>
              <li>Multi-language support: English, French and Dutch.</li>
              <li>Backend optimizations and refactoring.</li>
              <li>Cloud migration with Heroku, Mlab and Cloudinary.</li>
              <li>Administration with a web application hosted on Amazon Web Services.</li>
            </ul>
          </p>

        </div><!-- end of resume-item -->

        <!-- Big Bad Wolf -->
        <div class="resume-item">
          <h3 class="resume-item-title">Big Bad Wolf</h3>
          <h4 class="resume-item-details">R&amp;D Intern &bull; March 2014 &mdash; August 2014</h4>
          <p class="resume-item-copy">Six months internship from March to August.</p>

            <ul class="resume-item-list">
              <li>Augmented reality mobile game for an Easter advertising campaign. This project used Unity 3D and the Qualcomm Vuforia SDK (more information on Big Bad Wolf <a href="http://www.bigbadwolf.be/en/work/project/city2s-augmented-reality" target="_blank">website</a>).
              </li>
              <li>Face-tracking for Unity 3D using OpenCV. It is a native plug-in written in C++ with a focus on performance for a smooth tracking and a decent framerate in Unity.</li>
              <li>Development of added functionalities to an existing spline plugin for Unity 3D in order to control the speed and acceleration of a roller coaster experience with Oculus Rift. The tool developed had to be easy to use for an artist.</li>
              <li>
                Lens dirtiness effect post-processing shader for Unity 3D written in Cg.
                <!--<p>
                  <img src="images/lens_dirtiness_effect.jpg" alt="Lens dirtiness effect" width="100%">
                </p>-->
              </li>
              <li>Development of a library to easily access a REST API with Unity 3D and Xamarin.</li>
              <li>Audio visualization in Unity 3D.</li>
            </ul>
          </p>
          <p class="video-container">
            <iframe width="640" height="360" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLUL4URpE8LkS5V6Z1DGHr5CwalHwuhMw3&amp;showinfo=0&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
          </p>

        </div><!-- end of resume-item -->

        <!-- CORB -->
        <div class="resume-item">
          <h3 class="resume-item-title">CORB</h3>
          <h4 class="resume-item-details">Android Developer &bull; July 2013 &mdash; August 2013
</h4>
          <p class="resume-item-copy">
            Two months summer student job.

            <ul class="resume-item-list">
              <li>Management of the membership based on a card with a QR code.</li>
              <li>Promotional display on full screen based on a QR code.</li>
            </ul>
          </p>

        </div><!-- end of resume-item -->

        <!-- Immeractive -->
        <div class="resume-item">
          <h3 class="resume-item-title">Immeractive</h3>
          <h4 class="resume-item-details">R&amp;D Intern &bull; February 2012 &mdash; June 2012</h4>
          <p class="resume-item-copy">
            Three months intership from February to May.<br>
            Integration of OGRE in Autodesk Revit Architecture for a real-time 3D preview.
          </p>
          <p class="video-container">
            <iframe width="680" height="383" src="https://www.youtube-nocookie.com/embed/0D0U_Z0dwkI?rel=0&amp;showinfo=0&amp;vq=hd720" frameborder="0" allowfullscreen></iframe>
          </p>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">University Lille 1 : Sciences and Technologies</h3>
          <h4 class="resume-item-details">Master&apos;s in Computer Science &bull; 2012 &mdash; 2014</h4>
          <p class="resume-item-copy">
            Specialization in image, vision and interaction :
          </p>
          <p class="resume-item-copy">
              <ul class="resume-item-list">
                <li>Computer graphics</li>
                <li>Computer vision</li>
                <li>Multi-agent systems</li>
                <li>Parallel and distributed programming</li>
                <li>Software testing and model checking</li>
              </ul>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Institut Paul Lambin</h3>
          <h4 class="resume-item-details">Bachelor&apos;s in Computer Science &bull; 2009 &mdash; 2012</h4>
          <p class="resume-item-copy">
            Graduated with Distinction.
          </p>
          <p class="resume-item-copy">
              <ul class="resume-item-list">
                <li>C++ &amp; graphics programming</li>
                <li>Artificial intelligence</li>
                <li>Android programming</li>
                <li>Object-oriented design</li>
              </ul>

          </p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Survive (Ludum Dare #31)</h3>
          <h4 class="resume-item-details">Developer &bull; December 2014</h4>
          <p class="resume-item-copy">
            This project is my participation to the Ludum Dare #31, the famous online game jam. I made this small 2D game in a few hours as I couldn't work on it the whole weekend. The goal of the game is to survive against waves of enemies while managing your ammunitions. To avoid being out of ammo, you can grab box that are falling from the sky to help you reload. The game is playable on atemu.itch.io/survive.
          </p>
          <p class="resume-item-copy">
            <img src="images/survive_01.jpg" alt="Survive screenshot 01" width="100%"><br>
            <img src="images/survive_02.jpg" alt="Survive screenshot 02" width="100%"></iframe>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">3D anatomy in augmented reality (SHACRA research team)</h3>
          <h4 class="resume-item-details">Developer &bull; October 2013 &mdash; February 2014</h4>
          <p class="resume-item-copy">
            When medicine students have to learn the human anatomy, they only have books at their disposal. They cannot practice on human bodies. The project consisted in developing an application that will replace those books. By using a tablet device and the augmented reality technology, which adds virtual information over the reality, they can see the anatomical information and interact with it.
          </p>
          <p class="video-container">
            <iframe width="680" height="383" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLUL4URpE8LkTLoATVhdhU_kNFuLOD-pH8&amp;showinfo=0&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
          </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Markerless motion capture with the Microsoft Kinect (MIIRE research team)</h3>
          <h4 class="resume-item-details">Developer &bull; January 2013 &mdash; May 2013</h4>
          <p class="resume-item-copy">
            Microsoft Kinect, a device that embeds color video sensor and a depth sensor, has made its place in the toolbox of 3D animators. The strength of the Kinect is the ability to find the skeleton of the person in front of the sensor, incorporating a quick recognition and requires no training to use. The objective of this project was to generate real-time full 3D motion data in a standard format like Biovision Hierarchy (BVH).
          </p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_awards %}
      <!-- begin Awards -->
      <section class="content-section">

        <header class="section-header">
          <h2>Awards</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">Be My App Contest</h3>
          <h4 class="resume-item-details">Second place &bull; 2012</h4>
          <p class="resume-item-copy">MyHygie, an Android application that reminds patients when they have to take their medication.</p>
          <p class="resume-item-copy">
            <em><small>Technologies used : Android, Java and Eclipse.</small></em>
          </p>
          <p class="video-container">
            <iframe width="680" height="383" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL52F7647ED17DBF76&amp;showinfo=0&amp;vq=hd1080" frameborder="0" allowfullscreen></iframe>
          </p>
        </div>

      </section>
      <!-- end Awards -->
      {% endif %}

      {% if site.resume_section_languages %}
      <!-- begin Languages -->
      <section class="content-section">

        <header class="section-header">
          <h2>Languages</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">French</h4>
          <p class="resume-item-copy">Primary language</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">English</h4>
          <p class="resume-item-copy">Professional working proficiency &bull; <em>TOEIC : 930/990</em></p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Dutch</h4>
          <p class="resume-item-copy">Basic</p>
        </div>

      </section>
      <!-- end Languages -->
      {% endif %}

      {% if site.resume_section_interests %}
      <!-- begin Interests -->
      <section class="content-section">

        <header class="section-header">
          <h2>Interests</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li>Computer science</li>
            <li>Programming</li>
            <li>Video games</li>
            <li>Music</li>
            <li>Filmmaking</li>
            <li>Photography</li>
            <li>Reading</li>
            <li>Travelling</li>
          </ul>
        </div>

      </section>
      <!-- end Interests -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/jglovier" target="_blank">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template" target="_blank">GitHub</a>.</p>
        <p class="footer-line">Copyright &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> Derek Hendrickx. Powered by <a href="http://jekyllrb.com/" target="_blank">Jekyll</a>.</p>
      </footer>

    </div>

  </body>

</html>
